<!doctype html>
<title> GB Print Club - {% block title %} {% endblock %}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
        <h1>GB Print Club</h1>
        <h6>Just the cards you want</h6>
    <ul>
        <li><a href="/">Player Select</a></li>
        <li><a href="/tips">Printing tips</a></li>
        <li><a href="/about">About</a></li>
    </ul>

</nav>

<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>

<footer>
   <p class="footnote">Guild Ball and its associated names, images, and logos are property of Steamforged Games Ltd.
    <br>
    The rest © 2019 GB Print Club</p> 
</footer>