{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Player Select{% endblock %}</h1>
{% endblock %}

{% block content %}

    {% for guild, go in guilds.items() %}
        <div>
            <h1 class="guildname">{{ guild }}</h1>
        </div>
        {% for player, po in go.items() %}
        <div>
            <span class="playername">{{ po.name }} {{ po.version }}</span>
            <button type="button" class="addplayer" value="Add Player" onClick="addPlayer('{{player}}','{{po.name}}', '{{po.filename}}');">+</button>
        </div>
        {% endfor %}
    {% endfor %}
    <div class="sideq">
        <h1>Queue</h1>
        <div id="queue">
            <button type="button" onclick="javascript:postData();">Create PDF</button>
        </div>
    </div>
{% endblock %}
