{% extends 'base.html' %}
{% block header %}
<h1>{% block title %}Printing Tips{% endblock %}</h1>
{% endblock %}

{% block content %}
<div>
    <ul>
        <li>
            Print the PDF at 'actual size' or 100%, rather than scaled to fit. 
        </li>
        <li>
            Set your margins to the lowest values possible. Depending on your printer some of the guides on the edges will get cropped, but this will ensure the correct size.
        </li>
        <li>
            Use an exacto knife and a metal ruler to get strait cuts, score the ceter line of each card for an easy fold.
        </li>
        <li>
            Once you start cutting you will lose guide lines.
        </li>
        <li>
            You can use a pencil and a ruler to extend the guide lines. I like to just draw the horizonal lines than do all my vertical cuts first.
        </li>
        <li>
            Wrap the printed card around any spare cardstock cards you may have and sleeve them. MTG land cards, playing cards, or old Guild Ball cards work well.
        </li>

    </ul>
</div>
{% endblock %}